python-dotenv

langchain
langchain-community
langchain-openai
langchain-experimental

streamlit
pandas
tabulate

langgraph==0.2.62

unstructured
faiss-cpu

langchain-pinecone
pinecone-client

pypdf

wikipedia
arxiv

fastapi
uvicorn
langserve 
sse_starlette
pydantic